<!-- <div class="row"> -->
{% if success_msg %}
 <div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <i class="fa fa-check"></i>&nbsp<b>{{success_msg|safe}}</b>
</div>
{% endif%}
{% if error_msg %}
 <div class="alert alert-danger alert-dismissible" role="alert">
 <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <i class="fa fa-warning"></i>&nbsp<b>{{error_msg|safe}}</b>
</div>
{% endif%}
{% if error_msg_alt %}
 <div class="alert alert-danger alert-dismissible" role="alert">
 <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <i class="fa fa-warning"></i>&nbsp<b>{{error_msg_alt|safe}}</b>
</div>
{% endif%}
{% if success_msg_alt %}
 <div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <i class="fa fa-check"></i>&nbsp<b>{{success_msg_alt|safe}}</b>
</div>
{% endif%}
{% if error_msg_exc %}
 <div class="alert alert-danger alert-dismissible" role="alert">
 <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <i class="fa fa-warning"></i>&nbsp<b>{{error_msg_exc|safe}}</b>
</div>
{% endif%}
{% if success_msg_exc %}
 <div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
<i class="fa fa-check"></i>&nbsp</i><b>{{success_msg_exc|safe}}</b>
</div>
{% endif%}

	<h1>Artigos</h1>

  <div class="row" id="btn-inserir-artigo"> 
    <a class="btn btn-primary pull-right" href="{% url 'sabia:novoartigo' %}" role="button"><i class="fa fa-plus"></i>&nbsp Inserir novo artigo</a>
  </div>
  <div class="row">  
  	<table class="table table-hover table-bordered" id="table-artigos">
  		<thead>
  		  <tr>
  		  	<th>Título</th>
  		  	<th>Autor</th>
          <th style="width: 200px;">Data de Cadastro</th>
          <th style="width: 75px;">Gerenciar</th>
  		  </tr>
  		</thead>  
      <tbody>
        {% for artigo in artigos %}
      	  <tr>
      	  	<td>
              <a href="/sabia/artigos/{{artigo.id}}/ver">{{artigo.titulo}}</a>
            </td>
      	  	<td>{{artigo.autor}}</td>
            <td>{{artigo.dataCadastro}}</td>
            <td>
              <a role="button" href="#" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Download"><i class="fa fa-download"></i></a>
              <a role="button" href="/sabia/artigos/{{artigo.id}}/edita" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Alterar"><i class="fa fa-pencil"></i></a>
              <a role="button" href="#" class="btn btn-default btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Excluir"><i class="fa fa-trash-o"></i></a>
            </td>
      	  </tr>
        {% endfor %}   
      </tbody>
  	</table>
  </div>
<!-- </div> -->