<div class="row">
  <div class="col-md-12">
  <!-- <div class="page-header"> -->
    <h1>Ver Artigo</h1>
    <hr>
  <!-- </div>   -->
      <div class="row" id="btn-inserir-artigo">
        <a class="btn btn-danger pull-right" id="espaco" data-toggle="modal" data-target="#myModal" href="#" role="button"><i class="fa fa-trash-o"></i>&nbspExcluir</a> 
  	    <a class="btn btn-primary pull-right" href="/sabia/artigos/{{artigo.id}}/edita" role="button"><i class="fa fa-pencil"></i>&nbsp Alterar Artigo</a>
	   </div>
  	  <div class="form-group">
  	    <label for="titulo">Título</label>
  	    <input type="text" class="form-control" id="titulo" name="titulo" value="{{artigo.titulo}}" disabled="true">
  	  </div>
  	  <div class="form-group">
  	    <label for="autor">Autor</label>
  	    <input type="text" class="form-control" id="autor" name="autor" value="{{artigo.autor}}" disabled="true">
  	  </div>
      <div class="form-group">
        <label for="modelo">Modelo de Fichamento</label>
        <select class="form-control" name="modelo" disabled="true">
          <option>{{artigo.idModelo.nome}}</option> 
        </select>
      </div>
  	  <div class="form-group">
        <label for="texto">Texto</label>
        <textarea class="form-control" name="texto" rows="10" disabled="true">{{artigo.texto}}</textarea>
      </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Confirmar exclusão</h4>
      </div>
      <div class="modal-body">
        <p>Deseja realmente excluir esse artigo?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
        <!-- <button type="button" class="btn btn-primary">Excluir</button> -->
        <a class="btn btn-primary" href="../{{artigo.id}}/exc" role="button">Excluir</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->