<h1>Criar novo modelo</h1>

<div class="panel panel-default">
	<div class="panel-body">
		{{debug}}
		<form  role="form" action="{% url 'sabia:novomodelo' %}" method="POST" onsubmit="return validarModelo(this);" >
		    {% csrf_token %}		    
		    <input type="hidden" id="qtdcampos" name="qtdcampos" value="1">
			<div class="form-group input-group-lg">
		    	<label for="modelonome">Nome:</label>
	    		<input type="text" class="form-control" id="modelonome" name="modelonome" placeholder="Nome do Modelo" data-placement="bottom"  data-toggle="popover" data-content="Informe um título para o seu Modelo">				
	  		</div>
			<div class="form-group">
		    	<label for="modelodescricao">Descrição:</label>
	    		<textarea type="text" class="form-control" id="modelodescricao" name="modelodescricao" placeholder="Descrição do Modelo" style="resize: vertical;"></textarea>
	  		</div>	  		
 			<div class="panel panel-default">
				<div class="panel-heading">
					<b>Campos:</b>
				</div>
				<div class="panel-body">
					<div class="boxcampos">
						<div class="row bs-callout bs-callout-warning boxcampo" style="padding: 10px 0 0 0; margin: 0 0 15px 0" id="1">
							<div class="col-sm-5">
								<div class="form-group" >
							    	<label for="exampleInputEmail1">Campo:</label>
						    		<input type="text" class="form-control" id="camponome1" name="camponome1" placeholder="Nome do campo">
						  		</div>
					  		</div>
						  	<div class="col-sm-6">
								<div class="form-group">
							    	<label for="exampleInputEmail1">Descrição:</label>
						    		<textarea  class="form-control" id="campodescricao1" name="campodescricao1" placeholder="Descrição" style="resize:vertical;"></textarea>
						  		</div>
							</div>
							<div class="col-sm-1" style="text-align: right; padding: 0 15px 0 0; margin: 0 0 10px 0" >
								<!-- <a class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i> Apagar</a> -->
							</div>
				  		</div>
			  		</div>
			  		<center><a class="btn btn-sm btn-success" id="btn-addcampo" href="javascript:addcampo('novo')"><i class="fa fa-plus"></i> Adicionar mais um campo</a></center>	
				</div>
				
			</div>	  
		  		<div class="submit-modelo" style="clear:both; padding: 10px 0; border-top:1px solid #DDD">		  					  				  			
		  			<a href="/sabia/fichamentos/modelos" style="margin: 0 6px 0 0" type="button" class="btn btn-default">Cancelar</a>
		  			<input style="" type="submit" class="btn btn-primary" value="Criar Modelo"/>
		  		</div>			
		</form>
    </div>  
</div>


