<div class="row">
  <div class="col-md-12">
    <h1>Novo Fichamento</h1>
    <hr>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-1 control-label">Título:</label>
        <div class="col-sm-11">
          <p class="form-control-static">{{artigo.titulo}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 control-label">Autor:</label>
        <div class="col-sm-11">
          <p class="form-control-static">{{artigo.autor}}</p>
        </div>
      </div>
    </form>
    <hr>  
    <form role="form" action="/sabia/fichamentos/{{artigo.id}}/novo/new" method="POST">
      {% csrf_token %} 
  	  <div class="form-group">
  	    <label for="nome">Nome do Fichamento</label>
  	    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do Fichamento" required>
  	  </div>
      {% for campo in campos %}
        <div class="form-group">
          <label for="campo-{{campo.id}}">{{campo.label}}</label>
          <textarea class="form-control" name="campo-{{campo.id}}" data-idcampo="{{campo.id}}" rows="5" ></textarea>
        </div>
      {% endfor %}
  	  <button type="submit" class="btn btn-lg btn-primary">Cadastrar</button>
  	</form>
  </div>  
</div>  