{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sabiá - Remake</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{% static 'sabia/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'sabia/bootstrap/css/docs.min.css' %}">
    <link rel="stylesheet" href="{% static 'sabia/font-awesome/css/font-awesome.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'sabia/style.css' %}" />
    
	<!-- jQuery  e jQuery UI -->    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'sabia/jqueryui/jquery-ui.min.js' %}"></script>
       
    <script src="{% static 'sabia/js/modelo.js' %}"></script>

  </head>
  <body id="background-cadastro">
  	<!-- MENU -->
    {% include "sabia/menu.html" %}

    <div class="container">
      
      <!-- CONTEÚDO -->
      {% include conteudo %}
     
    </div> <!-- /container -->
    
    <script src="{% static 'sabia/bootstrap/js/bootstrap.min.js' %}"></script>      
  </body>
</html>