{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sabiá - Remake</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{% static 'sabia/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'sabia/bootstrap/css/docs.min.css' %}">
    <link rel="stylesheet" href="{% static 'sabia/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.css">

    <link rel="stylesheet" type="text/css" href="{% static 'sabia/style.css' %}" />
  </head>
  <body>
    <!-- MENU -->
    {% include "sabia/menu.html" %}

    <div class="container">
      
      <!-- CONTEÚDO -->
      {% include conteudo %}
     
    </div> <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'sabia/bootstrap/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js">
    </script>
    <script type="text/javascript" language="javascript" src="{% static 'sabia/main.js' %}"></script>    
  </body>
</html>