/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
	background-image: url('imagens/background/kindajean.png');    
}

#container-form-cadastro {
	margin: 0 auto;
	border: 1px solid #CCC;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
	padding-top: 10px;
	padding-bottom: 15px;
	background-color: #FFF;
}

#body-index {
	background: #FFF;
}

#radio-box-cadastro {
	margin-bottom: 15px;
}

#table-artigos {
	background-color: #FFF;
}

#btn-inserir-artigo {
	margin-bottom: 8px;
}